body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

button {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  background-color: #f9fafb;
  border: 0;
  border-radius: 10px;
  padding: 5px 15px;
  font-size: 20px;
  color: #075985;
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 9fr;

  height: 100vh;
  width: auto;
}

.header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  background-color: #0284c7;
  color: #f9fafb;
  padding: 15px;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.logo {
  grid-column: 1 / 2;
  place-self: center;
  font-size: 32px;
  font-weight: 600;
}

.add {
  grid-column: -2 / -1;
  place-self: center;
}

label {
  font-size: 24px;
  font-weight: 600;
}

.main-content {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  background-color: #e5e7eb;
  gap: 25px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}

.book {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  background-color: #f9fafb;
  margin: 15px;
  border-radius: 15px;
  border: 0;
  box-shadow: 5px 5px 3px #d1d5db;
  padding: 15px;
  justify-items: start;
  font-size: 18px;
  font-weight: 600;
}

.book > button {
  color: #f9fafb;
  background-color: #0284c7;
  width: 100%;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f9fafb;
  z-index: 9;
}

.form-container {
  width: min(350px, 50vw);
  padding: 10px;
  background-color: #0284c7;

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.form-container input[type="text"],
.form-container input[type="number"] {
  width: 80%;
  padding: 15px;
  border: none;
  font-size: 16px;
  background: #f9fafb;
}

.form-container input[type="text"]:focus,
.form-container input[type="number"]:focus {
  background-color: #f9fafb;
  outline: none;
}

.form-container .submit-btn {
  padding: 16px 20px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 20px;
}

input#read {
  width: 25px;
  height: 25px;
}

#enter-book-title {
  font-size: 28px;
  border-bottom: solid 2px #f9fafb;
}
